*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#main{

    background-color: rgb(231, 144, 144);
    width: 100%;
    height: 150vh;
    overflow: hidden;
    position: relative;

}

.img1{
    width: 20vw;
    height: 30vh;
    /* background-color: aqua; */
    position: absolute;
    top: 10%;
    left: 40%;
    border-radius: 30px;
    background-position:center ;
    background-size: cover;
    
    background-image: url(https://images.unsplash.com/photo-1571781926291-c477ebfd024b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cHJvZHVjdHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    

}

.img2{
    width: 25vw;
    height: 30vh;
    top: 30%;
    left: 10%;
    /* background-color: rgb(0, 255, 13); */
    position: absolute;
    border-radius: 30px;
    background-position:center ;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1567721913486-6585f069b332?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZHVjdHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);


}
.img3{
    width: 15vw;
    height: 40vh;
    top: 10%;
    left: 70%;
    /* background-color: rgb(255, 238, 0); */
    position: absolute;
    border-radius: 30px;
    background-position:center ;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1627384113743-6bd5a479fffd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cHJvZHVjdHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);


}
.img4{
    width: 25vw;
    height: 20vh;
    top: 50%;
    left: 60%;
    /* background-color: rgb(255, 81, 0); */
    position: absolute;
    border-radius: 30px;
    background-position:center ;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1629198688000-71f23e745b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHByb2R1Y3RzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);


}


